<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alien" class="mishra.aruni.Alien" autowire="byType">
		<property name="age" value="10"></property>
		<!-- <constructor-arg value="11"></constructor-arg> -->
		<!-- <property name="laptop" ref="laptop"></property> -->
		<property name="computer" ref="desktop"></property>
	</bean>

	<bean id="computer" class="mishra.aruni.Laptop"> </bean>
	<bean id="desktop" class="mishra.aruni.Desktop"> </bean>

</beans>